body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(135deg, #0f172a, #1e293b); */
  color: white;

  background-image: linear-gradient(rgba(255, 255, 255, 0.172), rgba(255, 255, 255, 0.172)), url('https://i.imgur.com/L6ux5lw.jpeg');
  background-size: cover;
  overflow: auto;
}

.bloque1 {
  margin-top: 45%;
  margin-bottom: 10%;

}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtituloPartidas {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #4e3522, #8c450f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1px;

  font-family: "Pirata One", system-ui;

}

.partidasContainer {
  padding-top: 5%;
  font-family: "Almendra", system-ui;
}

.partidasContainer p {
  text-align: center;
  color: black;
  font-family: "Times New Roman", system-ui;
}

.partidasDisponibles {
  display: flex;
  margin-bottom: 10%;
  margin-top: 0.5%;

}

.partidasDisponibles h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4e3522;

}

.tituloLanding {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #4e3522, #8c450f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;

  font-family: "Pirata One", system-ui;
}


.subtituloLanding {
  font-size: 1.4rem;
  color: #392919;
  margin-bottom: 40px;
  max-width: 600px;
}

button {
  padding: 12px 28px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, #8c450f, #f18c09);
  color: white;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 0 25px rgb(239, 237, 8);
}

button:active {
  transform: scale(0.98);
}

.card {
  margin: 7%;
}
