<div id="ContenedorPrincipal">
  <div id="ContenedorIzquierda">
    <div class="wrapper">   
      <div class="step" [class.active]="paso === 1" [class.completed]="paso > 1">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
      <div class="content">Nombre de la partida</div>
    </div>

    <div class="step" [class.active]="paso === 2" [class.completed]="paso > 2">
      <div class="v-stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="content">Estadísticas</div>
    </div>

    <div class="step" [class.active]="paso === 3" [class.completed]="paso > 3">
      <div class="v-stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="content">Step3</div>
    </div>

    <div class="step" [class.active]="paso === 4" [class.completed]="paso > 4">
      <div class="v-stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="content">Step4</div>
    </div>
  </div>
</div>
  
<div id="ContenedorDerecha">
  <div class="Contenedor1" [hidden]="paso !== 1">
    <p>Nombre de la partida:</p>
    <input class="CajaTexto" type="text" [(ngModel)]="nombre">
    <div data-bind="css: css.footer" class="sv_nav">
      <input type="button" value="Siguiente" class="sv_next_btn" (click)="irSiguiente()">
    </div>
  </div>

  <div [hidden]="paso !== 2">
    <h3>ESTADISTICAS</h3>
    <!-- Lo de ngFor es para duplicar la caja -->
    <div class="ClaseGeneralEstadisticas" *ngFor="let caja of estadisticas; let i = index">
      <div>
        <p>Nombre:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="caja.nombre">    
      </div>
      <div>
        <p>Palabra:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="caja.palabra">
      </div>
      <input type="button" value="Eliminar" (click)="eliminarEstadistica(i)">
    </div>

    <input class="BotonAñadir" type="button" value="+" (click)="agregarEstadistica()">
    <br><br>
    <input type="button" value="Atras" class="sv_prev_btn" (click)="irAtras()">
    <input type="button" value="Siguiente" class="sv_next_btn" (click)="irSiguiente()">
  </div>

  <h1 [hidden]="paso !== 3">paso 3</h1>
  <h1 [hidden]="paso !== 4">paso 4</h1>
</div>
 