<div id="ContenedorPrincipal">

  <!-- CONTENEDOR IZQUIERDA -->
  <div id="ContenedorIzquierda">
    <div class="wrapper">   
      <div class="step" [class.active]="paso === 1" [class.completed]="paso > 1">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
      <div class="content">Nombre de la partida</div>
    </div>

    <div class="step" [class.active]="paso === 2" [class.completed]="paso > 2">
      <div class="v-stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="content">Estadísticas</div>
    </div>

    <div class="step" [class.active]="paso === 3" [class.completed]="paso > 3">
      <div class="v-stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="content">Ataques</div>
    </div>

    <div class="step" [class.active]="paso === 4" [class.completed]="paso > 4">
      <div class="v-stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="content">Personajes</div>
    </div>
  </div>
</div>
  
<!-- CONTENEDOR DERECHA -->
<div id="ContenedorDerecha">
  
  <div class="TopeContenedor1" [hidden]="paso !== 1">
    <h2>NOMBRE DE LA PARTIDA</h2>
  </div>
  <div class="Contenedor1" [hidden]="paso !== 1">
    <div class="ClaseGeneralEstadisticas">
    <input class="CajaTexto" type="text" [(ngModel)]="nombre">
    <div data-bind="css: css.footer" class="sv_nav">
    </div>
  </div>
  </div>
  <div class="BotonesMovimiento" [hidden]="paso !== 1">
    <input type="button" value="Siguiente" class="sv_next_btn" (click)="irSiguiente()">
  </div>

  <!-- VENTANA ESTADISTICAS -->
  <div class="TopeContenedor1" [hidden]="paso !== 2">
    <h2>ESTADÍSTICAS</h2>
  </div>
  <div class="Contenedor1" [hidden]="paso !== 2">
    <div class="ClaseGeneralEstadisticas" *ngFor="let caja of estadisticas; let i = index">
      <div>
        <p>Nombre:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="caja.nombre">    
      </div>
      <div>
        <p>Palabra:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="caja.palabra">
      </div>
      <input type="button" value="Eliminar" (click)="eliminarEstadistica(i)">
    </div>

    <input class="BotonAñadir" type="button" value="+" (click)="agregarEstadistica()">
    <br>
  </div>

  <div class="BotonesMovimiento" [hidden]="paso !== 2">
    <input type="button" value="Atras" class="sv_prev_btn" (click)="irAtras()">
    <input type="button" value="Siguiente" class="sv_next_btn" (click)="irSiguiente()">
  </div>

  <!-- VENTANA CREACIÓN PERSONAJES -->
  <div class="TopeContenedor1" [hidden]="paso !== 4">
    <h2>PERSONAJES</h2>
  </div>
  <div class="Contenedor1" [hidden]="paso !== 4">
    <div class="ClaseGeneralPersonajes" *ngFor="let personaje of personajes; let i = index">
      <img class="ImagenPersonaje" src="https://i.pinimg.com/474x/9c/0f/06/9c0f06b14aba220811331c49718d6b93.jpg">
      <div>
        <p>Nombre:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="personaje.nombre"> 
      </div>
      
      <div>
        <p>Ataques:</p>
        <div *ngFor="let huecoAtaque of personaje.ataquesDelPersonaje; let j = index; trackBy: trackByFn">    
          <select class="CajaTexto" [(ngModel)]="personaje.ataquesDelPersonaje[j]">
            <option *ngFor="let ataqueCreado of ataques" [value]="ataqueCreado.nombre">
              {{ ataqueCreado.nombre }}
            </option>
          </select>
          <input type="button" value="X" (click)="eliminarAtaqueDePersonaje(i, j)">
        </div>
        <input type="button" value="+" (click)="agregarAtaqueAPersonaje(i)">
      </div>

      <div>
        <p>Estadisticas:</p>
        <div *ngFor="let huecoAtaque of personaje.estadisticasDelPersonaje; let j = index; trackBy: trackByFn">    
          <select class="CajaTexto" [(ngModel)]="personaje.estadisticasDelPersonaje[j]">
            <option *ngFor="let estadisticaCreada of estadisticas" [value]="estadisticaCreada.nombre">
              {{ estadisticaCreada.nombre }}
            </option>
          </select>
          <input type="button" value="X" (click)="eliminarEstadisticaDePersonaje(i, j)">
        </div>
        <input type="button" value="+" (click)="agregarEstadisticaAPersonaje(i)">
      </div>
      
      <br>
      <input type="button" value="Eliminar" (click)="eliminarPersonaje(i)">
    </div>

    <input class="BotonAñadir" type="button" value="+" (click)="agregarPersonaje()">
    <br>
  </div>

  <div class="BotonesMovimiento" [hidden]="paso !== 4">
    <input type="button" value="Atras" class="sv_prev_btn" (click)="irAtras()">
    <input type="button" value="Finalizar" class="sv_next_btn"> 
  </div>

  <!-- VENTANA ATAQUES -->
  <div class="TopeContenedor1" [hidden]="paso !== 3">
    <h2>ATAQUES</h2>
  </div>
  <div class="Contenedor1" [hidden]="paso !== 3">
    <div class="ClaseGeneralAtaques" *ngFor="let caja of ataques; let i = index">
      <div>
        <p>Nombre:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="caja.nombre">    
      </div>
      <div>
        <p>Sujeto:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="caja.sujeto">
      </div>
      <div>
        <p>Tipo operación:</p>
        <input class="CajaTexto" type="text" [(ngModel)]="caja.tipo">
      </div>
      <div>
        <p>Factor:</p>
        <input class="CajaTexto" type="number" [(ngModel)]="caja.factor">
      </div>
      <div>
        <p>Umbral condición:</p>
        <input class="CajaTexto" type="number" [(ngModel)]="caja.umbral">
      </div>

      <input type="button" value="Eliminar" (click)="eliminarAtaque(i)">
    </div>

    <input class="BotonAñadir" type="button" value="+" (click)="agregarAtaque()">
    <br>
  </div>

  <div class="BotonesMovimiento" [hidden]="paso !== 3">
    <input type="button" value="Atras" class="sv_prev_btn" (click)="irAtras()">
    <input type="button" value="Siguiente" class="sv_next_btn" (click)="irSiguiente()">
  </div>
 